#profile-box{
    height:95vh;
    width:370px;
    background-color:rgb(240,242,245);
    position: absolute;
    left:6px;
    z-index:3;
}
.profile-nav{
    height:85px;
    width: 100%;
    background-color: rgb(0,128,105);
    display: flex;
    align-items:end;
}

#ram{
    display: flex;
    justify-content: left;
}
b{
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:17px;
    margin-left: 25px;
    color: white;
}
.back-icon{
    margin-bottom:20px;
    margin-left: 10px;
    font-weight:bolder;
    cursor: pointer;
    color: white;
}
.communityimage{
    height:250px;
    width: 250px;
}
.imageDiv{
    height:50%;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.community-content{
    height: 30vh;
    display: grid;
    place-items: center;
}
.head12{
    font-size: 25px;
    text-align: center;
}
.head13{
    font-size: 20px;
    
}
.startButton{
    padding: 10px;
    border-radius: 10px;
    background-color: palevioletred;
    border: none;
    color: white;
    margin-top: 20px;
}
@media screen and (max-width:680px) {
    #profile-box{
        height:100vh;
        width:100%;
        left:0;
        top: 0;
        right: 0;
        bottom: 0;
    } 
    .profile-nav{
        height:70px;
        background-color:palevioletred ;
    }
    b{
        font-size:25px;
        font-weight: 550;
        margin-bottom:22px;
    }
    .back-icon{
        margin-left: 13px;
        font-weight:bolder;
        height: 30px;
        width: 30px;
    }
    .imageDiv{
        height: 40%;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
    }
    .communityimage{
        height:350px;
        width: 350px;
    }
    .community-content{
        height: 30vh;
        display: grid;
        place-items: center;
    }
    .head12{
        font-size: 24px;
        text-align: center;
        color: rgb(241, 51, 115);
    }
    .head13{
        font-size: 20px;
        text-align: center;
    }
    .startButton{
        padding: 15px;
        border-radius: 10px;
        background-color: rgb(241, 51, 115) ;
        border: none;
        color: white;
        margin-top: 20px;
        font-size: 20px;
        box-shadow: 0px 0px 10px black;
    }
      
}